:root {
  --main-text-color: #212121;
  --text-color: #757575;
  --text-focus-color: #2196f3;
  --main-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --hero-btn-hover: #188ce8;
  --logo-color: #000000;
  --hero-underline: #ececec;
  --timming: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--main-bg-color);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.conteiner {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.vissualy-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: var(--text-focus-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header--underline {
  border-bottom: 1px solid var(--hero-underline);
}

.header__conteiner {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.logo__text--header-color {
  color: var(--logo-color);
}

.navigation-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms var(--timming);
}
.navigation-list__link .current {
  color: var(--text-focus-color);
}
.navigation-list__link:hover, .navigation-list__link:focus {
  color: var(--text-focus-color);
}
.navigation-list__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--text-focus-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms var(--timming);
}
.navigation-list__link:hover::before, .navigation-list__link:focus::before {
  transform: scaleX(1);
}
.navigation-list__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--text-focus-color);
  border-radius: 2px;
}

.navigation-list__item {
  position: relative;
}
.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms var(--timming);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--text-focus-color);
}

.contacts {
  display: flex;
  align-items: center;
}

.header__contacts {
  margin-left: auto;
}

.contacts__list + .contacts__list {
  margin-left: 50px;
}

.contacts__logo {
  vertical-align: middle;
  fill: currentcolor;
  margin-right: 10px;
  text-align: center;
}

.button {
  display: block;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  padding: 0;
  color: var(--main-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--text-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms var(--timming);
}
.button:hover, .button:focus {
  background-color: var(--hero-btn-hover);
}

.hero {
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.hero__button {
  display: inline;
}

@media screen and (min-width: 768px) {
  .specs {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .specs__list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .specs__list {
    flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .specs__list {
    flex-basis: 270px;
  }
}

.specs__item {
  width: 100%;
  height: 120px;
  background: var(--team-bg-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specs__title {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.specs__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.section-title {
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.section__our-works {
  padding-top: 0%;
}
@media screen and (max-width: 1199px) {
  .section__our-works {
    display: none;
  }
}

.examples {
  display: flex;
  justify-content: space-between;
}

.examples__title {
  position: relative;
}

.examples__text {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section--team-color {
  background-color: var(--team-bg-color);
}

@media screen and (min-width: 768px) {
  .workers {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.workers__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .workers__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .workers__card {
    flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .workers__card {
    flex-basis: 270px;
  }
}

.workers-info {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: var(--main-bg-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .workers-info {
    padding-bottom: 30px;
  }
}

.workers-info__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 9px;
}

.workers-info__prof {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  color: #afb1b8;
  transition: color 250ms var(--timming), background-color 250ms var(--timming);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--text-focus-color);
  color: var(--main-bg-color);
}

.social-list__icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: transparent;
}

@media screen and (max-width: 479px) {
  .clients-list__item {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 480px) {
  .clients-list__item {
    flex-basis: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: 225px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: 170px;
  }
}

.clients-list__link {
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms var(--timming);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: var(--text-focus-color);
}

.clients-list__icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

@media screen and (min-width: 1200px) {
  .footer__conteiner {
    display: flex;
    align-items: baseline;
  }
}

.logo__text--footer-color {
  color: var(--main-bg-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.adress {
  font-style: normal;
}

.company-contacts__link--adress-color {
  color: var(--main-bg-color);
}

.company-contacts__link {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timming);
}
.company-contacts__link:hover, .company-contacts__link:focus {
  color: var(--text-focus-color);
}

.company-contacts__list:not(:last-child) {
  margin-bottom: 9px;
}

.connect__wrap {
  margin-left: 70px;
}

.connect__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.social-list__link--footer-color {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-bg-color);
}
.social-list__link--footer-color:hover, .social-list__link--footer-color:focus {
  background-color: var(--text-focus-color);
}

.subscribe__form {
  margin-left: auto;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: inherit;
}
.subscribe__input:focus {
  outline: none;
  border-color: var(--text-focus-color);
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--main-bg-color);
}

.subscribe-wrap {
  display: flex;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timming), visibility 250ms var(--timming), box-shadow 250ms var(--timming);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--main-bg-color);
  border-radius: 4px;
  transition: transform 300ms;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.modal-close {
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.modal-close__icon {
  vertical-align: middle;
  transition: fill 250ms var(--timming);
}
.modal-close:hover .modal-close__icon, .modal-close:focus .modal-close__icon {
  fill: var(--text-focus-color);
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal-form__label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--main-text-color);
  transition: border-color 250ms var(--timming);
}
.modal-form__input:focus {
  border-color: var(--text-focus-color);
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms var(--timming);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--text-focus-color);
}

.modal-form__input--comment {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
}
.modal-form__input--comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-label__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  fill: transparent;
}

.checkbox:checked + .checkbox-label .checkbox-label__icon {
  background-color: var(--text-focus-color);
  fill: var(--main-bg-color);
  border: transparent;
}

.checkbox-label__license {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--text-focus-color);
}

.button--modal-send {
  margin: 0 auto;
}

.portfolio-filter__btn {
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--team-bg-color);
  transition: color 250ms var(--timming), background-color 250ms var(--timming), box-shadodw 250ms var(--timming);
}
.portfolio-filter__btn:hover, .portfolio-filter__btn:focus {
  color: var(--main-bg-color);
  background-color: var(--text-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter__btn--current {
  color: var(--main-bg-color);
  background-color: var(--text-focus-color);
}

.portfolio-filter__list:not(:last-child) {
  margin-right: 8px;
}

.portfolio-card {
  display: block;
  transition: box-shadow 250ms var(--timming);
}
.portfolio-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-filter {
  display: flex;
  justify-content: center;
}
.portfolio-filter--bottom-margin {
  margin-bottom: 50px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-card__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timming);
}
.portfolio-card:hover .portfolio-card__text, .portfolio-card:focus .portfolio-card__text {
  transform: translateY(0);
}

.portfolio-description {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.grid__portfolio-list {
  margin-right: 30px;
  margin-bottom: 30px;
}
.grid__portfolio-list:nth-child(3n) {
  margin-right: 0;
}
.grid__portfolio-list:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio-description__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio-description__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */