.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: transparent;
}

.clients-list__item {
  @media screen and (max-width: 479px) {
    flex-basis: 50%;
  }
  @media screen and (min-width: 480px) {
    flex-basis: 210px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: 225px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 170px;
  }
}

.clients-list__link {
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms var(--timming);

  &:hover,
  &:focus {
    color: var(--text-focus-color);
  }
}

.clients-list__icon {
  fill: currentColor;
}
