.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

.footer__conteiner {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    text-align: start;
  }
}

.footer-main {
  margin-bottom: 60px;

  @media screen and(min-width:1200px) {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.logo__text--footer-color {
  color: var(--main-bg-color);
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.adress {
  font-style: normal;
}

.company-contacts__link {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timming);

  &:hover,
  &:focus {
    color: var(--text-focus-color);
  }
}

.company-contacts__list:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.company-contacts__link--adress-color {
  color: var(--main-bg-color);
}

.connect__wrap {
  @media screen and(max-width:767px) {
    margin-bottom: 60px;
  }
}

.connect__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.social-list__link--footer-color {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-bg-color);

  &:hover,
  &:focus {
    background-color: var(--text-focus-color);
  }
}
