.section--team-color {
  background-color: var(--team-bg-color);
}

.workers {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.workers__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: 354px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 270px;
  }
}

.workers-info {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: var(--main-bg-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }
}

.workers-info__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 9px;
}

.workers-info__prof {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
