.portfolio-card {
  display: block;
  transition: box-shadow 250ms var(--timming);
  height: 100%;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.grid {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.grid__portfolio-list {
  border: 1px solid #eeeeee;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    flex-basis: 100%;
  }
  @media screen and (min-width: 768px) {
    flex-basis: 354px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: 370px;
  }
}

.portfolio-card__wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-card__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 26px 24px;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timming);
  .portfolio-card:hover &,
  .portfolio-card:focus & {
    transform: translateY(0);
  }

  @media screen and (min-width: 480px) {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
  }
}

.portfolio-description {
  padding: 20px 24px;
}

.portfolio-description__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio-description__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 4px;
}
